__pycache*
.vscode*
tests/test_renamed
.mowsettings.yml
tests/filestorename
.mow_test_settings.yml
tests/mow_test_workingdir
filestotreat
tests/test_converted*
tests/test_treated*
mow.log
.pytest_cache
tests/test_aggregate*